/**
*   Den 9.06.2023
*   CSS-Layout Paul Richter
*/
@charset "UTF-8";

*, *::before, *::after  { box-sizing: border-box; padding: 0; margin: 0; }
html, body              { width: 100%; height: 100%; }
::-webkit-scrollbar     { display: none;}
a:link                  { text-decoration: none; cursor: pointer; }
.boxSizing              { box-sizing: border-box; }
.finger                 { cursor: pointer; }
.clear                  { clear: both;}
img.blok			    { display: block; width: 100%; }
.zentriert              { display: flex; align-items: center; }
.grun                   { color: #00F700; }
.dunkelgrun             { color: #00CC00; }
.blau                   { color: #2B8CC4; }
.rot                    { color: #F70000; }

.itemMiddle             {   display: flex; flex-direction: row; align-items: center; }

    /* Header */
.flexBox                {display: -webkit-flex; display: -ms-flexbox; display: flex;}
.allHeader              { background-color: #FAFAFF; border-bottom: 1px solid #E6E6FF; padding: 20px 0 10px; }
.headerBild             { background-image: url("/img/home.png"); background-size: cover; width: 24px; height:24px;}
.headerBild:hover       { background-image: url("/img/home.gif"); background-repeat: no-repeat;}
.onlineBild             { background-image: url("/img/online.png"); background-size: cover; width: 30px; height:30px;
                          background-repeat: no-repeat; }
.offlineBild            { background-image: url("/img/offline.png"); background-size: cover; width: 30px; height:30px;
                          background-repeat: no-repeat; }
.onlineFehler           { background-image: url("/img/onlinered.png"); background-size: cover; width: 30px; height:30px;
                          background-repeat: no-repeat; }

    /* Home
     ---------*/
.homeBox                { padding: 0 30px 0 30px; }
.homeBox ul li          { list-style-position: inside; }
.homeBox img            { vertical-align: middle; }
.homeBox a              { font-size: 1.1em; color: black; }
.nachrichtBild          { background-image: url("/img/nachricht.png"); background-size: cover; width: 30px; height:30px;
                          background-repeat: no-repeat; background-repeat: no-repeat; }
.nachrichtBild:hover    { background-image: url("/img/nachricht.gif"); background-size: cover; width: 30px; height: 30px;
                          background-repeat: no-repeat; background-repeat: no-repeat; }


    /* spielfragments
     ------------*/
.spielerUuid            { width: 450px; justify-content: space-around; }
.spielWahl              { width: 450px; height: 80px; justify-content: space-between; padding: 15px 0 0; }
.spielZeichen           { width: 48%; height: 50px; justify-content: space-around;
                          border: 1px solid #E6E6FF; border-radius: 6px;
                        }
.wahlHover              { border-bottom: 2px solid #1608D3; }
.spielWahlText          { height: 30px; }
.spielNeues             { font-size: 1.2rem; color: #1608D3; }


    /* nachricht
    -------------*/
.nachrichtBox           { padding:10px; }
.nachrichtOutput        { padding: 0 20px; }
.nachrichtForm          { padding: 0; margin: 0;}
.nachrichtButton        { padding: 10px; margin: 10px 0; text-size: 1.0em; }