<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/img/tictac.png" rel="icon" sizes="32x32" type="image/png">
    <style type="text/css"><!-- @import"/css/style.css"; --></style>
</head>
<body>

    <div class="allHeader">
        <h2 align="center">Willkommen bei Online Spiele</h2>
    </div>

    <br>

    <div class="homeBox" >
        <ul><li>
            <a th:href="@{/nachricht}">
                <img src="/img/transparent.png" class="nachrichtBild" border="0">
                &#160;<span>eine Nachricht an alle schreiben</span>
            </a>
        </ul></li>
        <br>
        <br>
        <ul><li>
            <a th:href="@{/tictactoe}">
                <img id="homeBild" data-th-src="@{/img/tictac.png}" width="30" height="30" >
                &#160; jetzt Tic Toc Toe Spielen<small style="color: red;">&#174;</small>
            </a>
        </ul></li>
    </div>
</body>
</html>