<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>TicTacToe</title>
</head>
<body>

    <h2 align="center">Willkommen bei Online Spiel Tic Tac Toe</h2>
    <br>
    <div align="center">
        <img data-th-src="@{/img/tictac.png}" width="30" height="30" >
        <a th:href="@{/spielfeld}">Möchten sie Tic Toc Toe Spielen</a>
    </div>
</body>
</html>