<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/img/tictac.png" rel="icon" sizes="32x32" type="image/png">
    <style type="text/css"><!-- @import"/css/style.css"; --></style>
</head>
<body>

    <h2 align="center" class="homeHeader">Willkommen bei Online Spiele</h2>
    <br>
    <div class="homeBox" >
        <ul><li>
            <a th:href="@{/spielfeld}">
                <img data-th-src="@{/img/tictac.png}" width="30" height="30" >
                 &#160;Jetzt Tic Toc Toe Spielen&#174;</a>
        </ul></li>
    </div>
</body>
</html>