<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nachricht</title>
    <link href="/img/tictac.png" rel="icon" sizes="32x32" type="image/png">
    <style type="text/css"><!-- @import"/css/style.css"; --></style>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>

</head>
<body>

<h2 align="center" class="homeHeader">Nachricht</h2>

<div class="container">
    <div>
        <p id="verbunden"></p>
    </div>
    <br><br>
    <form class="form">
        <label for="eingabe">Name:</label>
        <br>
        <input id="eingabe" class="button" type="text" />
        <br>
        <button id="send" class="button" type="submit">Send</button>
    </form>

    <br>
    <br>
    <hr>
    <div>
        Deine UUID: <p id="uuid" data-th-text="${uuid}"></p>
        <p id="ausgabe"></p>
    </div>
</div>


<script type="text/javascript" th:src="@{/js/nachricht.js}"></script>

</body>
</html>