<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nachricht</title>
    <link href="/img/tictac.png" rel="icon" sizes="32x32" type="image/png">
    <style type="text/css"><!-- @import"/css/style.css"; --></style>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>

</head>
<body>

<!-- Header -->

<div class="allHeader">

    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="50" height="50" align="right" valign="center">
                <a th:href="@{/home}" style="display: inline-block; width: 100%;">
                    <div class="headerBild"></div>
                </a>
            </td>
            <td align="center">

                <h2>Nachricht</h2>
                <div><span>Meine Session: </span><small id="userSession" class="blau"></small></div>

            </td>
            <td width="50" height="50" align="left" valign="center">
                <div id="onlineNachricht" class="offlineBild"></div>
            </td>
        </tr>
    </table>

</div><!-- Ende Header -->

<div class="nachrichtBox">

    <div class="nachrichtOutput" id="nachrichtAusgabe"></div>

    <br><br>
    <form class="nachrichtForm" onSubmit="return false" >
        <textarea id="nachrichtText" class="nachrichtTextarea" placeholder="Schreibe eine Nachricht..."></textarea>
        <br>
        <!-- mysocket.js, Zeile: 134 -->
        <button class="nachrichtButton" onclick="nachrichtSenden(nachrichtText.value)">Nachricht Senden</button>
    </form>

    <br>
    <hr>
<!--    <div>
        Deine UUID: <em id="uuid" data-th-text="${uuid}"></em>
    </div>-->
</div>


<script type="text/javascript" th:src="@{/js/mysocket.js}"></script>
<script type="text/javascript" th:src="@{/js/mytextarea.js}"></script>

</body>
</html>